h1 {
	color: green;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: lightgrey;
}

header {
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh;
}
section {
	display: flex;
	margin-top: 20px;
}

#left {
	width: 60vw;
}
#right {
	background-color: white;
	width: 40vw;
	margin-right: 50px;
}
#delete {
	width: 100px;
	height: 60px;
	margin-left: 20px;
}
#clean {
	width: 37.5vw;
	height: 60px;
	margin: 10px 0px;
	display: flex;
	justify-content: space-around;
}
#clean button {
	width: 180px;
	height: 60px;
}
#calculator {
	background-color: black;
	width: 40vw;
	height: 80vh;
	margin: auto;
	padding: 20px;
}
#above {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	margin-bottom: 20px;
}
#above section {
	width: 450px;
	margin-top: 0;
	display: flex;
	height: 120px;
	flex-direction: column;
	background-color: white;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
#showMe {
	width: 450px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 30px;
	padding: 5px 20px;
	background-color: lightgrey;
	border-radius: 10px 10px 0 0;
	/* border: 2px solid blue; */
}
#showMe #value {
	padding-right: 5px;
}
#above section #display {
	/* margin-top: 5px; */
	width: 450px;
	height: 40px;
	text-align: right;
	padding: 5px 20px;
	font-size: 30px;
	outline: none;
	font-weight: bold;
	/* visibility: hidden; */
	/* border: 2px solid blue; */
	border-bottom: 2px solid black;
}
#above section #totalDisplay {
	/* position: absolute; */
	/* margin-top: 10px; */
	width: 450px;
	height: 40px;
	text-align: right;
	padding: 5px 20px;
	font-size: 30px;
	outline: none;
	font-weight: bold;
	/* visibility: hidden; */
	/* border: 2px solid blue; */
}
#numbers {
	flex-wrap: wrap;
	float: left;
	width: 26.5vw;
	height: 45vh;
	margin-top: 20px;
	background-color: grey;
	border-radius: 10px;
}
#numbers button {
	width: 110px;
	height: 60px;
	justify-content: space-between;
	margin: 10px;
}
button {
	font-weight: bold;
	font-size: 24px;
	border-radius: 10px;
	outline: none;
}
button:hover {
	cursor: pointer;
	outline: none;
	background-color: green;
}
#operators {
	margin-top: 20px;
	float: right;
	height: 45vh;
	width: 10vw;
	background-color: yellow;
	border-radius: 10px;
}
#operators button {
	margin: 10px;
	width: 8.5vw;
	height: 45px;
}
